@model Calendar_by_I_M_Marinov.Models.SearchEventViewModel

<h2>Search for Event to Edit</h2>

<form method="get" asp-controller="Calendar" asp-action="SearchEventByName">
	<div class="form-group">
		<label for="eventName">Event Name:</label>
		<input type="text" id="eventName" name="EventName" class="form-control" placeholder="Please enter event name" />
	</div>
	<br />
	<button type="submit" class="btn btn-primary">Search</button>
</form>