@model Calendar_by_I_M_Marinov.Models.SearchEventViewModel

<h2>Search Events</h2>

<form method="get" asp-controller="Calendar" asp-action="SearchEventByName">
	<div class="form-group-search">
		<input  style="width:500px;" type="text" id="eventName" name="EventName" class="form-control" placeholder="Please enter text to look for" />
	</div>
	<p class="form-group-search-description" style="user-select: none;">*Searches events in the main calendar only</p>
	<br />
	<button type="submit" class="btn btn-primary-search">Search</button>
</form>