@model IList<Google.Apis.Calendar.v3.Data.Event>

<h2>Your Google Calendar Events</h2>

@if (Model != null && Model.Count > 0)
{
	<ul>
		@foreach (var evt in Model)
		{
			<li>
				<strong>@evt.Summary</strong><br />
				Start: @evt.Start.DateTime<br />
				End: @evt.End.DateTime<br />
				Location: @evt.Location
			</li>
		}
	</ul>
}
else
{
	<p>No upcoming events found.</p>
}