@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 14.5px;
  }
}

form-group{
    align-items: center;
}

.navbar {
    font-family: 'Rubik', sans-serif;
}

.alert{
    text-align: center;
    width: 500px;
    margin: 0 auto;
    margin-top: 1em;
}

/* CSS to show dropdown on hover */
.navbar-nav .dropdown:hover .dropdown-menu {
    display: block; 
    margin-top: 0.20em; 
    margin-left: -25%;
}

/* Navigation bar specific CSS */
.navbar .dropdown-toggle::after {
    display: none; /* Hides the dropdown icon */
}

.nav-item {
    width: 120px;
    height: 35px;
    font-size: 14px;
    border: 2px solid #5a5a5a;
    border-radius: 0.75em 0.75em 0.75em 0;
    padding: 3px 10px;
    margin-left: 0.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.3s, border-color 0.2s ease;
    color: black;
    text-align: center;
    background-color: #007bff;
}

.nav-item:hover {
    background-color: ghostwhite !important;
}


#navbarDropdown,
#navbarDropdown1,
#navbarDropdown2,
#navbar-home,
#navbar-dashboard {
    color: ghostwhite;
}

#navbar-home:hover,
#navbar-dashboard:hover,
#navbarDropdown:hover,
#navbarDropdown1:hover,
#navbarDropdown2:hover {
    color: #007bff !important;
    font-weight: 650;
}

#navbar-home,
#navbar-dashboard {
    color: ghostwhite !important;
}


.dropdown-menu {
    width: 200px;
    display: flex;
    border: 2px solid #007bff !important;
    border-radius: 0.5em;
}

.dropdown-menu a {
    border: 2px solid transparent;
    border-radius: 0.5em;
    text-align: center;
    margin: 0.5em;
}

.navbar-nav:hover {
    color: ghostwhite !important;
}

.dropdown-menu .nav-link:hover {
    color: ghostwhite !important;
    font-weight: 600;
    background-color: #007bff;
    border: 2px solid #5a5a5a;
    transition: transform 0.2s, box-shadow 0.5s, border-color 0.4s ease;
}

.nav-item:hover,
.nav-item:focus {
    border: 2px solid #007bff;
    border-radius: 0.5em 0 0.5em 0.5em;
    color: #007bff;
    padding-top: 0.15em;
}

.nav-item.dropdown:hover .nav-link.dropdown-toggle {
    color: #007bff !important; /* Color while hovering over dropdown items */
    font-weight: 650;
}

/* CSS for the table in the ListAllCalendars View */
.centered-table {
    font-family: 'Rubik', sans-serif;
    margin: 0 auto;
    width: 45%;
    max-width: 800px;
    border-collapse: collapse;
    border-bottom: 1px solid grey;
}

.centered-table th,
.centered-table td {
    text-align: center;
    padding: 8px;
}

.centered-table td:first-child {
    font-size: 16px;
}

.centered-table td:nth-child(2) {
    font-size: 16px;
}

.centered-table td {
    color: royalblue;
}

.centered-table thead {
    background-color: #4489cf;
}

.clickable-row:hover {
    color: black;
    cursor: pointer;
    background-color: lightblue;
    box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.22), 1px 0px 0px 0px rgba(0,0,0,0.22), 1px 2px 0px 0px rgba(0,0,0,0.22), 2px 1px 0px 0px rgba(0,0,0,0.22), 2px 3px 0px 0px rgba(0,0,0,0.22), 3px 2px 0px 0px rgba(0,0,0,0.22), 3px 4px 0px 0px rgba(0,0,0,0.22), 4px 3px 0px 0px rgba(0,0,0,0.22), 4px 5px 0px 0px rgba(0,0,0,0.22), 5px 4px 0px 0px rgba(0,0,0,0.22), 5px 6px 0px 0px rgba(0,0,0,0.22), 6px 5px 0px 0px rgba(0,0,0,0.22), 6px 7px 0px 0px rgba(0,0,0,0.22), 7px 6px 0px 0px rgba(0,0,0,0.22), 7px 8px 0px 0px rgba(0,0,0,0.22), 8px 7px 0px 0px rgba(0,0,0,0.22);
}


.event-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    border-bottom: 1.5px solid #1a8ba9;
    max-width: 85%;
    margin: 0 auto;
    margin-bottom: 1em;
}

.event-info {
    flex: 1;
    text-align: center; 
}


/* CSS for the table in the ListCalendarsAndEvents View */

.list-unstyled{
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center; 
}

h2,
h4{
    text-align: center;
}

.btn.btn-primary-load-events {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-self: center;
    color: #0026ff;
    background-color: #00ff90;
    border: 2px solid;
}

.btn.btn-duplicate-event {
    margin: 0 auto;
    display: flex;
    font-size: .875rem;
    flex-direction: row;
    justify-content: center;
    color: #000000;
    background-color: #03fad4;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;

}

.btn.btn-duplicate-event:hover {
    color: #28c4ac !important;
    font-weight: 500;
    background-color: white !important;
    border: 2px solid #28c4ac;
    animation: scale-text 2s infinite;
    transition: transform 0.2s, box-shadow 0.3s !important;
}

.edit-event-btn:hover {
    color: #ffc107 !important;
    font-weight: 500;
    background-color: white !important;
    border: 2px solid #ffc107;
    animation: scale-text 2s infinite;
    transition: transform 0.2s, box-shadow 0.3s !important;
}

.delete-event-btn:hover {
    color: #dc3545 !important;
    font-weight: 500;
    background-color: white !important;
    border: 2px solid #dc3545;
    animation: scale-text 3s infinite;
    transition: transform 0.2s, box-shadow 0.3s !important;
}

@keyframes scale-text {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.25); 
    }

    100% {
        transform: scale(1); 
    }
}
/* CSS for the SearchEventByName View  */
.form-group-search {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 70%;
    align-content: center;
}

.form-group-search-description {
    opacity: 60%;
    font-size: 0.75em;
    display: flex;
    justify-content: center;
}

#calendarSelect {
    text-align: center;
    font-size: 1.1em;
    max-width: 45%;
    height: 3em;
    margin: 0 auto;
}

.btn.btn-primary-search {
    color: #000000;
    display: block;
    margin: 0 auto;
    color: whitesmoke;
    background-color: #f17010;
    line-height: 1.5;
    border-radius: .2rem;
    width: 20%;
    font-weight: 700;
}


.btn.btn-primary-search:hover {
    background-color: #d1610d;
}

/* CSS for the CreateEvent View  */

.btn.btn-create-event {
    color: black;
    color: whitesmoke;
    background-color: #7204d3;
    border-radius: .2rem;
    border: 0.99px solid #000000;
    width: 15%;
    font-weight: 600;
    margin-top: 0.5em;
}

.btn-create-event:hover {
    background-color: #00ff21;
    color: greenyellow;
}

.create-event-group {
    margin: 0 auto;
}

.create-event-group.summary,
.create-event-group.location,
.create-event-group.description {
    max-width: 50%;
}

/* Flex container for the columns */
.create-event-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    margin-top: 1em;
}

/* Flex container for the first column */
.create-event-group2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
    margin-left: 20em;
    margin-bottom: 1em; /* Consistent margin at the bottom */
    flex-shrink: 1;
}

/* Flex container for the second column */
.create-event-group3 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
    margin-right: 20em;
    margin-bottom: 1em;
    flex-shrink: 1;
}

/* Styling for individual input groups */
.create-event-group {
    display: flex;
    flex-direction: column; /* Stack label and input vertically */
    align-items: center; /* Center label and input horizontally */
}

.create-event-group.attendees {
   width: 65%;
}

.create-event-group.attendees input {
    width: 100%; 
    max-width: none; 
    margin-bottom:1em;
}



/* CSS for the Dashboard View ( ViewTodaysEvents ) */

#todays-container {
    border: 2.5px solid #1a8ba9;
    width: 65%;
    display: block;
    margin: 0 auto;
}

.todays-event {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 0.5em;
    gap: 0.5em;
}

.next-week-event {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 0.5em;
    gap: 1em;
}

.todays-event li:first-child {
    margin-top: 1.8em;
}
    .todays-event li {
        margin-top: -0.8em;
    border-bottom: 2.5px solid #1a8ba9;
    padding: 0.5em;
    padding-bottom: 0;
}

.todays-event li p,
.next-week-event li p{
    margin-bottom: 0.2em;
    padding-left: 1em;
}

.next-week-event li {
    display:flex;
    flex-direction: row;
    margin-top: 1.5em;
    border-bottom: 2.5px solid #d1610d;
    padding: 0.1em;
}

#attendees-container{
    margin-left: 5em;
}

.allDay-icon{
    width: 24px;
    margin-right: 0.5em;
    pointer-events: none;
}

.annual-icon {
    width: 20px;
    margin-right: 0.1em;
    pointer-events: none;
}


#next-week-events-title {
    margin-top: 2em;
    text-align: center;
}

.todays-event.warning,
.next-week-event.warning {
    color: red;
}




/* Create New Calendar View */



.time-zone-description {
    opacity: 60%;
    font-size: 0.75em;
    display: flex;
    justify-content: center;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-calendar-container {
    padding: 1em;
    border: 1px solid #ddd; 
    border-radius: 0.5em; 
    background-color: #fff; 
    align-content: center;
}

.alert {
    margin-bottom: 20px;
}

.new-calendar label {
    display: block; 
    text-align: center; 
    margin-top: 1em;
    margin-bottom: 5px;
}

.btn.btn-primary.createCalendar {
    margin: 0 auto;
    display: block;
    margin-top: 1em;
}

/* Edit Calendar View CSS */


.edit-calendar-container {
    width: 500px;
    text-align: center;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 0.5em;
    background-color: #fff;
    align-content: center;

}

.edit-calendar.name{
    width: 450px;
    margin: 0 auto;
    margin-bottom: 1em;
}


.edit-calendar.description {
    margin: 0 auto;
    margin-bottom: 1em;
}

.new-calendar label {
    display: block;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 5px;
}

.btn.btn-primary.update-calendar {
    background-color: #E37400;
    color: black;
}

    .btn.btn-primary.update-calendar:hover {
        background-color: #34A853;
        color: antiquewhite;
    }

/* Deletion Confirmred View CSS */


.deletion-confirmed-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#back-btn {
    font-family: 'Rubik', sans-serif;
    background-color: deepskyblue;
    color: black;
}


#back-btn:hover {
    background-color: blue;
    opacity: 75%;
    color: white;
}

/* GetAllContacts HTML STYLING */


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1em;
}

th,
td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center !important;
}


.pb-3 {
    font-family: 'Rubik', sans-serif;
}

.alphabet-index-containers {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2em;
}

.alphabet-index-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
 
}

.alphabet-index-container:nth-of-type(2) {
    margin-left: 2.5em;
}

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
}

#group-button {
    padding: 0.358em;
    margin: 0.3em;
    border: 2px solid transparent; 
}

#group-button:hover {
    color: #17a2b8 !important;
    background-color: white !important;
    border: 2px solid #17a2b8;
    animation: scale-text 2s infinite;
    transition: transform 0.2s, box-shadow 0.3s !important;
}

.alphabet-card {
    background: #f0f0f0;
    border-radius: 8px;
    padding: 8px;
    text-align: center;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.alphabet-card span {
    text-decoration: none;
    color: black; 

}
.alphabet-card span:hover {
    text-decoration: none;
}

.alphabet-card:hover {
    transform: scale(1.25);
    z-index: 1;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
    background-color: #4489cf;
    text-decoration: none;
}

.alphabet-card:hover span {
    color: white;
    text-decoration: none;
}


.letter-group-header{
    text-align: center;
    border: 2px solid black;
    background-color: lightblue;
}

#number-of-contacts {
    text-align: center;
    width: 100%;
    color: #007bff;
}

#goToTop-button1 {
    position: fixed;
    bottom: 1em;
    left: 14em;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    font-size:0.85em;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    z-index: 1000;
    text-align: center;
    text-decoration: none;
}


#goToTop-button2 {
    position: fixed;
    bottom: 1em;
    right: 14em;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    font-size: 0.85em;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    z-index: 1000;
    text-align: center;
    text-decoration: none;
}

#goToTop-button1:hover,
#goToTop-button2:hover {
    background-color: white;
    border: 1px solid #007bff;
    color: #007bff;
    transform: scale(1.20);
    transition: transform 0.5s, box-shadow 0.3s !important;
}

#goToTop-button1 a,
#goToTop-button2 a {
    color: #007bff;
    text-decoration: none;
}

#goToTop-button1 a:hover,
#goToTop-button2 a:hover {
    text-decoration: none;
}

.action-buttons {
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    height:auto;
}

.action-button {
    width: 3.5em;
    height: auto;
    font-size: 0.70em !important;
    padding: 0.20em !important;
    text-align: center !important;
    vertical-align: central !important;
}



/* SPECIFIC CSS HANDLING THE HOVER EFFECTS AND STYLE OF THE EDIT / DELETE / EVENT BUTTONS OF ALL CONTACTS IN THE VIEWS */
#delete-btn:hover,
#edit-btn:hover,
#create-event-btn:hover {
    transform: scale(1.20);
    transition: transform 0.4s, box-shadow 0.3s !important;
}
#delete-btn:hover {
    border: 1px red solid !important;
    background-color: white !important;
    color: red !important;
}

#edit-btn:hover {
    border: 1px #007bff solid !important;
    background-color: white !important;
    color: #007bff !important; 
}

#create-event-btn:hover {
    border: 1px #28a745 solid !important;
    background-color: white !important;
    color: #28a745 !important;
}

.fade-out {
    opacity: 1;
    transition: opacity 2s ease-out;
}

.fade-out {
    opacity: 0;
}

.table-striped {
    border: 1px solid #dee2e6 !important;
}
/* GetContactsFromAGroup CSS */
.btn-selected-group {
    background-color: #21900b !important;
    color: white !important;
    transform: scale(1.19);
    margin: 0.3em 1em !important;
}

.btn-selected-group:hover {
    color: black !important;
    opacity: 75%;
}

#calendar-dropdown:hover,
#calendar-dropdown:focus,
#calendarSelect:hover,
#calendarSelect:focus{
    border: 2px solid #007bff;
}

.cancel-event-copy-btn {
    color: white !important;
    background-color: #d9534f !important;
}

.cancel-event-copy-btn:hover {
    color: #d9534f !important;
    font-weight: 650;
    background-color: white !important;
    transition: transform 0.2s, box-shadow 0.2s !important;
    transform: scale(1.05);
}

.copy-event-btn {
    color: white !important;
    background-color: #28a745 !important;

}

.copy-event-btn:hover {
    color: #28a745 !important;
    font-weight: 650;
    background-color: white !important;
    transition: transform 0.2s, box-shadow 0.2s !important;
    transform: scale(1.05);

}


/* AddContact CSS */
.add-contact-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.update-contact-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.update-contact-div p{
    text-align: center;
}

.contact-phoneNumber {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-firstname label,
.contact-lastname label,
.contact-email label,
.contact-phoneNumber label {
    position: absolute;
    left: 135px;
    top: 14px;
    font-size: 15px;
    opacity: 0.75;
    transition: all 0.28s ease;
    pointer-events: none;
}

.contact-birthday label,
.contact-group label{
    font-size: 15px;
    transition: color 0.28s ease; 
}

.contact-birthday input,
.contact-group input {
    padding: 4px;
    border: 1px solid #007bff;
    border-radius: 4px;
    outline: none;
    transition: background-color 0.28s ease;
}

.contact-birthday:focus-within label,
.contact-group:focus-within label {
    color: white; 
    background-color: #007bff; 
    padding: 0 4px; 
    opacity: 1;
}

.contact-birthday input:focus,
.contact-group input:focus {
    border-color: #007bff; 
}

.contact-firstname,
.contact-lastname,
.contact-email,
.contact-phoneNumber,
.contact-birthday,
.contact-group {
    margin: 15px;
    position: relative;
}

.contact-group.add {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 0;
 }

.contact-firstname input,
.contact-lastname input,
.contact-email input,
.contact-phoneNumber input,
.contact-birthday input,
.contact-group select{
    display: flex;
    width: 350px;
    border-radius: 6px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
}

.contact-phoneNumber input {
    width: 250px;
}

.contact-email label {
    left: 155px;
}

.contact-phoneNumber label {
    left: 125px;

}

.contact-firstname input:focus + label,
.contact-firstname input:not(:placeholder-shown) + label,
.contact-lastname input:focus + label,
.contact-lastname input:not(:placeholder-shown) + label,
.contact-email input:focus + label,
.contact-email input:not(:placeholder-shown) + label,
.contact-phoneNumber input:focus + label,
.contact-phoneNumber input:not(:placeholder-shown) + label{
    top: -8.5px;
    font-size: 0.65em;
    color: #333;
    background-color: #007bff;
    color: white;
    opacity: 1;
}

.contact-firstname input:focus,
.contact-lastname input:focus,
.contact-email input:focus,
.contact-phoneNumber input:focus,
.contact-birthday input:focus,
.contact-group select:focus {
    border: 2px solid #007bff; /* Change to 2px or more to make it stand out */
    outline: none;
}


.contact-birthday {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-birthday label,
.contact-group label{
    opacity: 0.75;
}

.contact-birthday input {
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: center;
}

.contact-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 2.5em;
}

#groupsList {
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 350px;
}

.group-item {
    cursor: pointer;
    padding: 6px;
    border: 1px solid #ccc;
    margin: 4px 0;
    border-radius: 6px;
    list-style-type: none;
    font-size: 0.70em;
}

.group-item:hover {
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
    border-color: white;
}

.group-item.selected {
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
    border-color: #0056b3;
}

.contact-group select {
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: center;
}

.add-contact-button-container,
.update-contact-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-contact-button-container button,
.update-contact-button-container button{
border-radius: 6px;
color: black;
background-color: #007bff;
font-size: 16px;

}

#add-contact-button,
#update-contact-button{
    width: 8em;
    height: 3em;
    font-size: 15px !important;
    padding: 0.35em !important;
    margin: 1em;
    color: white;
}

#add-contact-button:focus,
#update-contact-button:focus{
    color: #007bff !important;
    background-color: white !important;
    border-color: #007bff !important;
    transition: box-shadow 0.2s !important;
}


#add-contact-button:hover,
#update-contact-button:hover {
    width: 8em;
    height: 3em;
    font-size: 15px !important;
    padding: 0.35em !important;
    background-color: white;
    border: 2px solid #007bff;
    color: #007bff;
    margin: 1em;
}


.alert.alert-success p {
    margin-bottom: 0.5em;
}

/* Specific CSS that is for the pop-up window for creating a new label / contact group */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 17em;
    left: 0;
    top: 0;
    width: 50%;
    height: 50%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.65);
}

.modal-content {
    background-color: #d1d1d1;
    margin: auto;
    padding: 15px;
    border: 1px solid #888;
    width: 20% !important;
    
}


.modal-footer {
    margin-top: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center !important;
}

.modal-footer button{
    width: 6em;
    font-size: 0.75em;
    margin-bottom: 0.1em;
}
#updateLabelSelect {
    margin-bottom: 1em;
}

#updateLabelSelect:hover,
#labelName:hover,
#removeLabelSelect:hover{
    border: 2px solid #007bff;
}

#newGroupName:focus{
    background-color: white;
}


.add-label-container {
    margin-bottom: 20px;
}

#addLabelButton,
#removeLabelButton,
#editLabelButton{
    width: 2.2em;
    height: 2.2em;
    font-size: 10px;
    color: white;
    padding: 0.1em;
    margin-right: 0.2em;
}

#addLabelButton {
    background-color: #07601f;
}

#removeLabelButton:hover {
    color: #dc3545 !important;
}


#addLabelButton:hover {
    color: #07601f !important;
}

#editLabelButton:hover {
    color: #ffc107 !important;
}

#addLabelButton:hover,
#removeLabelButton:hover,
#editLabelButton:hover {
    background-color: white;
    transform: scale(1.20);
    transition: transform 0.4s, box-shadow 0.3s !important;
}

#labelName:focus{
    border: 2px solid #007bff;
}


/* CSS for the SearchContacts View */

.page-link{
    border-radius: 15%;
    font-size: 10px;
    color: black;
    margin-right: 0.30em;
}

.page-link:hover {
    color: white !important;
    background-color: #007bff !important;
    transform: scale(1.15) !important;
    transition: transform 0.2s, box-shadow 0.2s !important;
}

#search-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100% !important;
    padding: 1em;
}

.btn.btn-primary.search-contacts{
    align-self: center;
    width: 185px;
}

.count-and-keyword-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.contacts-count,
.contacts-keyword {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contacts-count h4,
.contacts-keyword h4 {
    background-color: #007bff;
    color: white;
    font-size: 15px;
    padding: 0.5em;
    text-align: center;
    border: 1px solid black;
    border-radius: 0.25em;
}

.contacts-keyword span:first-of-type,
.contacts-count span:first-of-type {
    color: #FF8300;
    font-size: 18px;
}

#search-contacts-btn {
    margin: 1em;
    padding: 0.35em;
}

#search-contacts-btn:hover,
#search-contacts-btn:focus{
    background-color: white;
    border: 2px solid #007bff;
    color: #007bff;
    transform: scale(1.15) !important;
    transition: transform 0.2s, box-shadow 0.2s !important;
    font-weight: 700;
}

.form-group input:focus,
.form-group input:hover {
    border: 2px solid #007bff;
}

#search-contacts:focus-within .form-control {
    border: 2px solid #007bff;
    padding: 0 4px;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.hover-target:hover input {
    border: 2px solid #007bff;
    padding: 0 4px;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


/* Shows the user where he clicked while it loads that page*/
.page-link:focus {
    color: #007bff !important;
    background-color: white !important;
    border-color: #007bff !important;
    transform: scale(1.35) !important;
    transition: transform 0.2s, box-shadow 0.2s !important;
}

.page-item.active .page-link {
    border-radius: 15%;
    font-size: 10px;
    transform: scale(1.10) !important;
    font-weight: 500;
}

/* UpdatedContact Specific CSS */

.alert.alert-success.update-contact,
.alert.alert-success.add-contact{
    margin-right: -20%;
    margin-top: -35%;
    margin-bottom: 15em;
}

#back-button {
    background-color: #007bff;
    width: 8em;
    height: 4em;
    font-size: 10px;
    padding: 0.5em;
    margin: 1em;
    color: white;
    border: 2px transparent black;
}

#back-button:focus {
    color: #007bff;
    background-color: white ;
    border-color: #007bff;
    transition: box-shadow 0.2s;
}


#back-button:hover {
    width: 8em;
    height: 4em;
    font-size: 10px;
    padding: 0.5em;
    background-color: white;
    border: 2px solid #007bff;
    color: #007bff;
}

