html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

form-group{
    align-items: center;
}

/* CSS for the table in the ListAllCalendars View */

.centered-table {
    margin: 0 auto; 
    width: 45%; 
    max-width: 800px; 
    border-collapse: collapse; 
}

.centered-table th, .centered-table td {
    text-align: center; 
    padding: 8px; 
}

.centered-table thead {
    background-color: #4489cf;
}

.event-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    border-bottom: 1.5px solid #1a8ba9;
    max-width: 85%;
    margin: 0 auto;
    margin-bottom: 1em;
}

.event-info {
    flex: 1;
    text-align: center; 
}

.event-actions form {
    display: inline;
}

.event-actions {
    text-align: center;
    padding-left: 1.5em;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
}

.event-actions a:first-child{
    margin-bottom: 0.5em;
}


/* CSS for the table in the ListCalendarsAndEvents View */

.list-unstyled{
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    text-align: center; 
}

h2,
h4{
    text-align: center;
}

.btn.btn-primary-load-events {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-self: center;
    color: #0026ff;
    background-color: #00ff90;
    border: 2px solid;
}

.btn.btn-duplicate-event {
    margin: 0 auto;
    display: flex;
    font-size: .875rem;
    flex-direction: row;
    justify-content: center;
    color: #000000;
    margin-left: 1em;
    background-color: #03fad4;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.btn.btn-duplicate-event:hover {
    background-color: #19e4c5;
}

/* CSS for the SearchEventByName View  */

.form-group-search {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 70%;
    align-content: center;
}

.form-group-search-description {
    opacity: 60%;
    font-size: 0.75em;
    display: flex;
    justify-content: center;
}

#calendarSelect {
    max-width: 55%;
    margin: 0 auto;
}

.btn.btn-primary-search {
    color: #000000;
    display: block;
    margin: 0 auto;
    color: whitesmoke;
    background-color: #f17010;
    line-height: 1.5;
    border-radius: .2rem;
    width: 20%;
    font-weight: 700;
}


.btn.btn-primary-search:hover {
    background-color: #d1610d;
}

/* CSS for the CreateEvent View  */

.btn.btn-create-event {
    color: black;
    display: block;
    margin: 0 auto;
    color: whitesmoke;
    background-color: #7204d3;
    border-radius: .2rem;
    border: 0.99px solid #000000;
    width: 15%;
    font-weight: 600;
    margin-top: 0.5em;
}

.btn-create-event:hover {
    background-color: #00ff21;
    color: greenyellow;
}

.create-event-group{
    margin: 0 auto;
}

.create-event-group.summary,
.create-event-group.location,
.create-event-group.description {
    max-width: 50%;
}

/* Flex container for the columns */
.create-event-container {
    display: flex;
    justify-content: space-between; 
    width: 100%; 
    gap: 20px; 
}

/* Flex container for the first column */
.create-event-group2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
    margin-left: 20em;
    flex-shrink: 1;
}

/* Flex container for the second column */
.create-event-group3 {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
    flex: 1; 
    margin-right: 20em;
    margin-bottom: 1em;
    flex-shrink: 1;
}

/* Styling for individual input groups */
.create-event-group {
    display: flex;
    flex-direction: column; /* Stack label and input vertically */
    align-items: center; /* Center label and input horizontally */
}


/* CSS for the Dashboard View ( ViewTodaysEvents ) */

.todays-event {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 0.5em;
    gap: 1em;
}

.todays-event li {
    margin-top: 2em;
    border-bottom: 1.5px solid #1a8ba9;
    padding: 0.5em;
}

.todays-event.warning{
   color: red;
}


