@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">
		<span style="color: #4285F4;">G</span> <span style="color: #EA4335;">E</span><span style="color: #FBBC05;">a</span><span style="color: #34A853;">s</span><span style="color: #4285F4;">y</span> 
		Calendar
	</h1>
    <p>Control Google calendar as easy as 1..2..3</p>
</div>
